---
layout: page
title: Projects
---

<section class="text">

  <div class="inner">

    <h2 class="center">Where technology meets textile.</h2>

    <p class="intro">Creating concepts by proxy of fashion. Enhancing textiles by adding functionality. Taking the world by surprise. Designed by all means necessary. Made with love by far.</p>

    <p>BB.LAB is a design studio focused on developing fabrics of the future. Textile will become the next platform to interact with the digital world. Building on technologies in virtual reality and mobile computing. We are removing another layer between humans and computers. Creating a new interface, that is invisible, tactile and intuitive. The innovation is in the yarns and knitting patterns as well as the embedded sensors.</p>

  </div>
  <!-- end .inner -->

</section>
<!-- end section.text -->

<section class="grid">
  {% for brand in site.data.brands %}
    <div class="item" style="background-image: url({{ brand.image }});">
      {{ brand.title }}
    </div>
  {% endfor %}
</section>
<!-- end .section.grid.work -->

<section class="mosaic projects">

  <div class="inner">
    <h2 class="center">Prototypes</h2>
    <div class="items">
    {% for project in site.projects %}
      {% if project.category == 'prototypes' %}
      <a class="item" href="{{ project.url }}" style="background-image: url({{ project.cover }});">
        <span class="item-inner">
          <h3>{{ project.title }}</h3>
          <p>{{ project.people }}</p>
        </span>
      </a>
      {% endif %}
    {% endfor %}
    </div>

    <h2 class="center">Brand Collaborations</h2>
    <div class="items">
    {% for project in site.projects %}
      {% if project.category == 'collaborations' %}
      <a class="item" href="{{ project.url }}" style="background-image: url({{ project.cover }});">
        <span class="item-inner">
          <h3>{{ project.title }}</h3>
          <p>{{ project.people }}</p>
        </span>
      </a>
      {% endif %}
    {% endfor %}
    </div>

    <h2 class="center">Commissioned Work</h2>
    <div class="items">
    {% for project in site.projects %}
      {% if project.category == 'commissions' %}
      <a class="item" href="{{ project.url }}" style="background-image: url({{ project.cover }});">
        <span class="item-inner">
          <h3>{{ project.title }}</h3>
          <p>{{ project.people }}</p>
        </span>
      </a>
      {% endif %}
    {% endfor %}
    </div>

    <h2 class="center">Shows</h2>
    <div class="items">
    {% for project in site.projects %}
      {% if project.category == 'shows' %}
      <a class="item" href="{{ project.url }}" style="background-image: url({{ project.cover }});">
        <span class="item-inner">
          <h3>{{ project.title }}</h3>
          <p>{{ project.people }}</p>
        </span>
      </a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  <!-- end .inner -->

</section>
<!-- end section.mosaic -->

