---
layout: home
title: "Creating concepts by proxy of fashion"
---
<div class="highlights">

  <div class="inner">

  {% for product in site.products %}
    {% if product.homepage == true %}
    <div class="item left" style="background-image: url({{ product.cover }})">
      <div class="text">
          <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
          <p>{{ product.count }}pcs. €{{ product.price_euro }},-</p>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% for project in site.projects %}
    {% if project.homepage == true %}
    <div class="item right" style="background-image: url({{ project.cover }})">
        <div class="text">
          <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
          <p>{{ project.people }}</p>
        </div>
    </div>
    {% endif %}
  {% endfor %}

  </div>
  <!-- end .inner -->


</div>
<!-- end .highlights -->
