<footer>

  <div class="inner">

    <ul>
      <li><a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank">F</a></li>
      <li><a href="https://twitter.com/{{ site.twitter_username }}/" target="_blank">L</a></li>
      <li class="instagram"><a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank">I</a></li>
    </ul>

    <h1><a href="index.html">byBorre</a></h1>

    <p>All rights reserverd ByBorre 2015</p>

  </div>
  <!-- end .inner -->

</footer>
