<section class="text">

  <div class="inner">

    <p class="intro">Shipping Worlwide for &euro;10.</p>

    <p>Mail to <a href="mailto:store@byborre.com">store@byborre.com</a> for any questions about this product Check the <a class="modal-sales" href="#">Shipping &amp; Returns</a> for more infomation</p>

    <div class="payment-icons">
      <ul>
        <li class="icon icon-globe"></li>
        <li class="icon icon-credit-card"></li>
        <li class="icon icon-cc-visa"></li>
        <li class="icon icon-cc-mastercard"></li>
        <li class="icon icon-cc-paypal"></li>
      </ul>
    </div>

  </div>

</section>
