section.text

  .inner
    max-width: 734px
    width: calc(100% - 100px)
    margin: 0 auto
    padding-bottom: 126px

  h2
    font-family: $sofia-pro
    font-size: 24px
    margin: 2em 0

    &.center
      text-align: center

  p, li
    margin: 20px 0 0
    font-size: 18px
    line-height: 24px

    &.intro
      font-size: 25px
      line-height: 30px

  blockquote
    padding: 0 0 0 14px

  .columns
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap

  .column

    h2
      margin-bottom: 0.2em

  a
    color: $secondary

  a:hover
    color: lighten($secondary, 20%)

  a.button
    +button
    margin-top: 75px
