@font-face
  font-family: 'Socialico'
  src: url('/fonts/Socialico.eot')
  src: url('/fonts/Socialico.eot?#iefix') format('embedded-opentype'), url('/fonts/Socialico.woff') format('woff'), url('/fonts/Socialico.ttf')  format('truetype'), url('/fonts/Socialico.svg#b62d5081f1e281beb10c7d9c8e739045') format('svg')

@font-face
  font-family: 'Socialico Plus'
  src: url('/fonts/Socialico Plus.eot')
  src: url('/fonts/Socialico Plus.eot?#iefix') format('embedded-opentype'), url('/fonts/Socialico Plus.woff') format('woff'), url('/fonts/Socialico Plus.ttf')  format('truetype'), url('/fonts/Socialico Plus.svg#b62d5081f1e281beb10c7d9c8e739045') format('svg')

$socialico: "Socialico"
$socialico-plus: "Socialico Plus"

$sofia-pro: "sofia-pro", sans-serif

$primary: #212121
$secondary: #36A0CD
