---
layout: default
---
{{ content }}

<div class="social-media-box">

  <ul>
    <li><a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank">F</a></li>
    <li><a href="https://twitter.com/{{ site.twitter_username }}/" target="_blank">L</a></li>
    <li class="instagram"><a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank">I</a></li>
  </ul>

  <div id="mc_embed_signup">
    <form>
      <input type="email" placeholder="Email address">
      <input type="submit" value="Subscribe">
    </form>
  </div>
  <!--End mc_embed_signup-->

  <p>Subscribe to our mailing list</p>

</div>
<!-- end .social-media-box -->
