---
layout: page
---
<section class="product">

  <section class="hero" style="background-image: url(/img/content/product/hero.jpg)">

  </section>
  <!-- end section.hero -->

  <section class="text">

    <div class="inner">

      <h2>{{ page.title }}</h2>

      {{ content }}

      {% include buy-button.html shopifyid=page.shopifyid name=page.name handle=page.handle %}

    </div>
    <!-- end .inner -->

  </section>
  <!-- end section.text -->

  <section class="carousel">

    <div class="slide" style="background-image: url(/img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(/img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(/img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(/img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(/img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(/img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(/img/content/carousel/1.jpg)"></div>

  </section>
  <!-- end section.carousel -->

  <section class="timeline">

    <div class="inner">

      <div class="icons">

        <div class="slot">

          <div class="item ys">
            <div class="tooltip"><p><strong>Finishing and print</strong>; such as embroidery, silkscreening and other printing techniques.</p></div>
          </div>

        </div>
        <!-- end .slot -->

        <div class="slot">

          <div class="item td">
            <div class="tooltip"><p><strong>Finishing and print</strong>; such as embroidery, silkscreening and other printing techniques.</p></div>
          </div>

          <div class="item ck">
            <div class="tooltip"><p><strong>Finishing and print</strong>; such as embroidery, silkscreening and other printing techniques.</p></div>
          </div>

        </div>
        <!-- end .slot -->

        <div class="slot">

          <div class="item pd">
            <div class="tooltip"><p><strong>Finishing and print</strong>; such as embroidery, silkscreening and other printing techniques.</p></div>
          </div>

          <div class="item pm">
            <div class="tooltip"><p><strong>Finishing and print</strong>; such as embroidery, silkscreening and other printing techniques.</p></div>
          </div>

        </div>
        <!-- end .slot -->

        <div class="slot">

          <div class="item ts">
            <div class="tooltip"><p><strong>Finishing and print</strong>; such as embroidery, silkscreening and other printing techniques.</p></div>
          </div>

        </div>
        <!-- end .slot -->

        <div class="slot">

          <div class="item fp">
            <div class="tooltip"><p><strong>Finishing and print</strong>; such as embroidery, silkscreening and other printing techniques.</p></div>
          </div>

        </div>
        <!-- end .slot -->

      </div>
      <!-- end .icons -->

      <div class="line">

        <div class="left">
          <strong>Start process</strong><br/>
          September 21 2014
        </div>
        <!-- end .left -->

        <div class="right">
          <strong>Product ready</strong><br/>
          September 21 2014
        </div>
        <!-- end .right -->

      </div>
      <!-- end .line -->

    </div>
    <!-- end .inner -->

  </section>
  <!-- end .timeline -->

  <img class="full-screen-photo" src="/img/content/product/full-screen-photo.jpg" alt="">

  <section class="text">

    <div class="inner">

      <h2>Scarf15-02</h2>

      <p class="intro">Little story on the product lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur massa in maximus eleifend. Mauris  tristique bibendum odio.</p>

      <div class="chart">

        <div class="item">
          <div class="name">Price</div>
          <div class="value">&euro;230</div>
        </div>
        <!-- end .item -->

        <div class="item">
          <div class="name">Qty</div>
          <div class="value">4 sizes, combined total of 300 pcs made</div>
        </div>
        <!-- end .item -->

        <div class="item">
          <div class="name">Info</div>
          <div class="value">Product Information recap. Material or alike. There is a limited amount of Aenean consectetur massa in maximus eleifend. </div>
        </div>
        <!-- end .item -->

      </div>
      <!-- end .chart -->

      {% include buy-button.html shopifyid=page.shopifyid name=page.name handle=page.handle %}


      <div class="row"><p>Mail to <a href="mailto:store@byborre.com">store@byborre.com</a> for any questions about this product Check the <a class="modal-sales" href="#">Shipping &amp; Returns</a> for more infomation</p></div>

    </div>
    <!-- end .inner -->

  </section>
  <!-- end section.text -->

</section>
<!-- end section.product -->
