---
layout: page
---
<section class="product">

  <section class="hero" style="background-image: url({{ page.cover }})">
    <a href="#product-description"><img src="/img/arrow-down.svg" class="arrow"></a>
  </section>
  <!-- end section.hero -->

  <section class="text" id="product-description">

    <div class="inner">

      <h2>{{ page.title }}</h2>

      {{ content }}

      {% include buy-button.html shopifyid=page.shopifyid name=page.title handle=page.handle %}

    </div>
    <!-- end .inner -->

  </section>
  <!-- end section.text -->

  <section class="carousel">

  {% for img in page.images %}
    <div class="slide" style="background-image: url({{ img.path }})"></div>
  {% endfor %}

  </section>
  <!-- end section.carousel -->

  <section class="text">

    <div class="inner">

      <div class="chart">

        <div class="item">
          <div class="name">Price</div>
          <div class="value">&euro;{{ page.price_euro }}</div>
        </div>
        <!-- end .item -->

        <div class="item">
          <div class="name">Qty</div>
          <div class="value">1 size, limited availability</div>
        </div>
        <!-- end .item -->

<!--         <div class="item">
          <div class="name">Info</div>
          <div class="value">{{ page.info }} </div>
        </div> -->
        <!-- end .item -->

      </div>
      <!-- end .chart -->

      {% include buy-button.html shopifyid=page.shopifyid name=page.title handle=page.handle %}

    </div>
    <!-- end .inner -->

  </section>
  <!-- end section.text -->

  {% include shipping.html %}

</section>
<!-- end section.product -->

