---
layout: page
---
<section class="story">

  <section class="text">

    <div class="inner">

      <h2>{{ project.title }}</h2>

      <p class="intro">{{ content }}</p>

    </div>
    <!-- end .inner -->

  </section>
  <!-- end section.text -->

  <section class="carousel">

    <div class="slide" style="background-image: url(img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(img/content/carousel/1.jpg)"></div>
    <div class="slide" style="background-image: url(img/content/carousel/1.jpg)"></div>

  </section>
  <!-- end section.carousel -->

</section>
<!-- end section.story -->

<section class="mosaic projects border">

  <div class="inner">

    <a class="item" href="project.html" style="background-image: url(img/content/mosaic/item.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item tall" href="project.html" style="background-image: url(img/content/mosaic/item-tall.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item" href="project.html" style="background-image: url(img/content/mosaic/item.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item" href="project.html" style="background-image: url(img/content/mosaic/item.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item" href="project.html" style="background-image: url(img/content/mosaic/item.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item" href="project.html" style="background-image: url(img/content/mosaic/item.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item tall" href="project.html" style="background-image: url(img/content/mosaic/item-tall.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item tall" href="project.html" style="background-image: url(img/content/mosaic/item-tall.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

    <a class="item" href="project.html" style="background-image: url(img/content/mosaic/item.jpg);">

      <span class="item-inner">
        <h3>Project title</h3>
        <p>Field</p>
      </span>
      <!-- end .item-inner -->

    </a>

  </div>
  <!-- end .inner -->

</section>
<!-- end section.mosaic -->
