---
layout: page
---
<section class="story">

  <section class="text">

    <div class="inner">

      <h2>{{ page.title }}</h2>

      {{ content }}

    </div>
    <!-- end .inner -->

  </section>
  <!-- end section.text -->

  {% if page.images %}

  <section class="carousel">
  {% for img in page.images %}
    <div class="slide" style="background-image: url({{ img.path }})"></div>
  {% endfor %}
  </section>
  <!-- end section.carousel -->

  {% endif %}

</section>
<!-- end section.story -->

{% if page.vimeo %}
<section class="embed">
  <section class="video">

    <div class="inner">
    <iframe src="https://player.vimeo.com/video/59747129?color=FFFFFF" width="750" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

  </section>
</section>
{% endif %}

{% if page.featured %}
<section class="grid-featured">

  <div class="inner">
    <h2 class="center">Featured</h2>

    <div class="items">
    {% for feature in page.featured %}
      <div class="item">
        <a href="{{ feature.url }}" style="{% if feature.image %}background-image: url({{ feature.image }});{% else %}background-color: #eee{% endif %}">
          {{ feature.title }}
        </a>
        <p>
          <strong>{{ feature.title }}</strong><br/>
          {{ feature.date }}
        </p>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
<!-- end .section.grid.features -->
{% endif %}
